{% for path, hash in paths.items() %}
{{ hash }}: {{path}}
  {% set dig = digs[hash] %}
  {% for attr in dig.attrs %}
  {{ attr.name }} = {{ attr.value }}
  {% endfor %}
{% endfor %}

{% for hash, dig in digs.items() %}
{{ hash }}
  {{ dig.mime }} {{ dig.attrmap["ImageSize"] }} {{ dig.size }}
  {% for path in dig.paths %}
    {{ path.path }}
  {% endfor %}
{% endfor %}